extends layout

block title
	| Saskatoon Soccer League 2018

block content
	div.container
		div.row
			div.col-md-6.col-12
				h1.text-center= "Coming Soon!"
			div.col-md-6.col-12
				img.img-fluid(src='/images/poster.jpg')

		
