<include('./layout.marko')>
	<@title>Hello, World!</@title>
	<@content>
		<div.container>
			<h1>title</h1>
			<p>Welcome to ${title}</p>
		</div>
	</@content>
	<@scripts>
	</@scripts>
</include>