extends ../layout

block append head
	link(rel='stylesheet', href='/auction_main.css')

block title
	| Auction Page

block content
	div.container-fluid
		div#app

block append scripts
	script(src='/auction_main.js')