extends ../layout

block append head
	link(rel='stylesheet', href='/auction_main.css')
	link(rel='stylesheet', href='https://unpkg.com/sweetalert2/dist/sweetalert2.min.css')

block title
	| Auction Page

block content
	div.container-fluid
		div#app

block append scripts
	script(src='https://unpkg.com/sweetalert2/dist/sweetalert2.min.js')
	script(src='/auction_main.js')